html {
  
}

body {
  margin-bottom: 60px;
  font-family: Arial;
  color : #333;
  font-size : 14px;
  line-height : 1.3;
  /*scroll-behavior: smooth;*/
  background: #f9f9f9 url(page-bg-1.jpg);
}

.bandeau img {
	width:100%;
}

.section {
  margin-top:10px;
  background-color: white;
  padding:10px
}

.header {
  background-color: white;
}

footer {
  margin-top:10px;
}

div.card{
    position : relative;
    background-color : #f7f7f7;
    box-shadow: 1px 1px 4px #bbb;
}

div.img-square-wrapper{
  position : relative;
  width : 200px; 
  min-height: 140px;
  padding:10px;
}
div.img-square-wrapper>img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  max-height: 140px;
}


.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

h2 {
  color: rgb(16, 214, 26);
}

.img-small {
  width: 50%;
}

/* AFFICHAGE DES EXEMPLAIRES ET PARUTIONS DANS LA RECHERCHE */

.img-square-wrapper { /* image de la revue dans la recherche */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* AFFICHAGE DES PARUTION ET EXEMLAIRE */

.details { /* bloc de la revue */
  display: flex;
  align-items: center;
  margin: 20px;
}

.revuedetails img { /* image de la revue */
  width: 150px;
  margin-right: 20px;
}

.card-body img { /* image de la revue */
  margin-bottom: 10px;
}

.card-title strong { /* titre de la revue */
  text-decoration: underline;
}


.card-body ul li { /* liste  */
  line-height: 2em;
}


.card-text.bleu {
  color: #3366CC; /* bleu */
  text-shadow: 1px 1px #B3C7E7; /* surbrillance bleue */
  border: 1px solid #B3C7E7; /* bordure bleue */
}

.card-text.vert {
  color: #8BC34A; /* vert */
  text-shadow: 1px 1px #D4EDDA; /* surbrillance verte */
  border: 1px solid #D4EDDA; /* bordure verte */
}

.card-text.orange {
  color: #FF9800; /* orange */
  text-shadow: 1px 1px #FFE5B4; /* surbrillance orange */
  border: 1px solid #FFE5B4; /* bordure orange */
}

.card-text.violet {
  color: #9C27B0; /* violet */
  text-shadow: 1px 1px #E8C2E7; /* surbrillance violette */
  border: 1px solid #E8C2E7; /* bordure violette */
}

